<header class="header fixed-top clearfix justify-content-center" role="banner">
  <div class=" container-fluid">
    <div class="row">
      <div class="col-md-2 header-logo d-inline-block ">
        <a class="navbar-brand" routerLink="/" role="logo" tabindex="0">

        </a>
      </div>
      <div class="mr-auto lead text-white" tabindex="0">
        <span class="strong align-middle">DEMO
          <span class="badge badge-info">versão: 1.0.0</span>
        </span>
      </div>
      <div class="col-md-3 align-items-center">
        <div class="acessibilidade">
          <ul class="nav list-inline justify-content-end mt-2" role="">
            <li class="">
              <a href="#menu" class="text-write " accesskey="1" title="" placement="bottom" title="Ir para conteúdo Alt + 1" ngbTooltip="Ir para conteúdo Alt + 1">
                <span class="sr-only sr-only-focusable"> Ir para o Conteúdo Alt + 1</span>
                <span class=" p-1 mt-1">
                  <i class="fas fa-file-alt fa-lg"></i>
                </span>
              </a>
            </li>
            <li class="pl-1 ">
              <a href="#" class="text-write " accesskey="2" id="bt-autocontraste" title="" placement="bottom" title="Ativar alto contraste Alt + 2"
                ngbTooltip="Ativar o alto contraste Alt + 2" data-placement="bottom" data-original-title="Ativar o alto contraste">
                <span class="sr-only sr-only-focusable">Ativar alto contraste Alt + 2</span>
                <span class=" strong p-1 mt-1">
                  <i class="fas fa-adjust fa-lg"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <span class="sr-only sr-only-focusable">Inicio do menu</span>
  <nav class="navbar navbar-light bg-nav borderB-cafellato" role="navegation" aria-label="Início do Menu">
  <app-menu></app-menu>
  </nav>
</header>
