<div ngbDropdown id="cssmenu">
  <ul class="d-flex flex-row" role="menubar" aria-label="Início do Menu" ngbDropdown>
    <li>
      <a routerLink="/" routerLinkActive tabindex="0" role="menuitem" title="Home (Tela principal)">
        Principal
      </a>
    </li>
    <li class="submenu">
      <!-- <a ngbDropdownToggle id="dropdownBasic1" title="Categorias ..." role="menuitem" aria-haspopup="true" tabindex="0"
        aria-expanded="false">Categorias</a>
      <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" role="menu" aria-label="Principal">
        <li role="none">
          <a class="dropdown-item" routerLink="/" routerLinkActive tabindex="0" role="menuitem" title="Home (Tela principal) ">
            Principal
          </a>
        </li>
        <li class="submenu" role="none">
          <a ngbDropdownToggle id="dropdownBasic2" title="Submenus .." role="menuitem" aria-haspopup="true" tabindex="0" aria-expanded="false">Submenus</a>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic2" role="menu" tabindex="0" aria-expanded="true">
            <li role="none">
              <a class="dropdown-item" tabindex="0" title="Submenu A" role="menuitem">Submenu A</a>
            </li>
            <li role="none">
              <a class="dropdown-item" tabindex="0" title="Submenu B" role="menuitem">Submenu B</a>
            </li>
            <li role="none">
              <a class="dropdown-item" tabindex="0" title="Submenu C" role="menuitem">Submenu C</a>
            </li>
          </ul>
        </li>
        <li role="none">
          <a class="dropdown-item" routerLink="/categorias" routerLinkActive="active " tabindex="0 " title="Tela de categoria ">Categorias</a>
        </li>
      </ul>-->
    </li>
  </ul>
</div>
